.tech-container {
        display: flex;         
        flex-direction: row;   
        flex-wrap: wrap;       
        justify-content: center; 
        gap: 60px;  
        padding-top: 1vh;
        padding-bottom: 17vh;          
 }


.tech-ball{
    width:10rem;
    height:10rem;
}
.tech-name{
    padding-left:60px;
}